html,
body {
	height: 100%
}

body {
	text-align: right;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	background: #999 url(900027_optimized.jpg) center no-repeat;
	background-size: cover;
	overflow: hidden;
	padding-right: 50px;
	margin: 0;
	font-size: 2vh;
}

body:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(40, 40, 45, 0.4);
	width: 100%;
	height: 100%;
	z-index: -1
}

h1 {
	width: 100%;
	margin: 40vh 0 3vh 0;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 3em;
}

.subtitle {
	display: block;
	width: 100%;
	margin-bottom: 4vh;
	font-weight: bold;
}

.icon {
	display: inline-block;
	background: #000000;
	color: #fafafa;
	text-decoration: none;
	padding-top: 1vh;
	width: 4vh;
	height: 4vh;
	text-align: center;
	border-radius: 20%;
	box-sizing: border-box;
	margin-left: 15px;
	box-shadow: 0 -50px 0 0 rgba(0, 0, 0, 0) inset;
	transition: all 0.4s;
}

.icon:hover {
	color: #fff;
	box-shadow: 0 -50px 0 0 rgba(0, 0, 0, 0.5) inset
}

.icon:nth-of-type(1) {
	background: #0050b3
}

.icon:nth-of-type(2) {
	background: #40a9ff
}

.icon:nth-of-type(3) {
	background: #08979c
}

.icon:nth-of-type(4) {
	background: #262626
}

.icon:nth-of-type(5) {
	background: #722ed1
}

.cursor {
	cursor: pointer;
}

#footer {
	font-size: 1.2vh;
	text-align: center;
	color: #666;
	background: rgba(0, 0, 0, 0.7);
	width: 100vw;
	position: absolute;
	bottom: 0px;
	opacity: 0.5;
	padding: 5px 0;
}
