.profile-img {
    max-height: 120px;
}

.bg-primary {
    background-color: #fadb14 !important;
}
.border-primary {
    border-color: #fadb14 !important;
}


.bg-dark {
    background-color: #262626 !important;
}
.border-dark {
    border-color: #262626 !important;
}

* {
    /* outline: 1px solid red; */
}